body {
    background-color:#3a3a3f;
}

.containerPrincipal {
    display: flex;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 50px;
    justify-content: center; 
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 10px;
}

.containerImagem {
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;
}

img {
    height:17%;
    width:17%;
}

textArea {
    width:350px;
    height: 175px;
    background-color:#34206f;
    border-radius: 25px;
    border-style: dashed;
    border-color: #d02383;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-size:15px;
}

#textoInstrucao {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-style:oblique;
    font-size: 14px;
}

.containerEsquerdo {
    flex-direction: column ;
    text-align: center;
    padding: 15px;
}

.containerDireito {
    flex-direction: row-reverse;
    align-items: center;
}

.containerBotoes {
    display: flex;
    flex-direction: row;    
}

.botaoDc {
    align-items: center;
    background: #d02383;
    color:white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#botaoCripto {
    align-items: center;
    background: white;
    color:#0268e2;
    border-radius: 5px 5px 5px 0px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#botaoDescripto {
    align-items: center;
    background: white;
    color:#0268e2;
    border-radius: 5px 5px 5px 0px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#botaoCopiar {
    align-items: center;
    background: #d02383;
    color:white;
    border-radius: 5px 5px 5px 0px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
 }

 .containerRodape {
    display: flex;
    justify-content: center;
 }
 
#textoRodape {   
    color: white;
    font-size: 11px;
    font-weight: lighter;
}